<!DOCTYPE html>
<html ng-app>
<head>
    <style>
       </style>
    <title>Chunming Assignment</title>

    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="css/common.css" type="text/css" />
    <script src="js/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.js"></script>
</head>
<script>
    function changeScreenSize(w, h) {
        window.resizeTo(w, h)
    }
</script>

<body onload="changeScreenSize(640px,1136px)" ng-app="myApp">
    <table ng-controller="MyAppCtrl">

        <tr ng-repeat="item in list">
            <td class="imgApp">
                <img src="image/icons/{{item}}.png" /></td>
            <td class="txt">This is a {{item}}!</td>
            <td style="width: 150px">
                <form>
                    <button id="button" class="bn" ng-click="add(item)">Add...</button></form>
            </td>
        </tr>
        <tr>
            <td class="line" colspan="3"></td>
        </tr>
    </table>

    <script type='text/javascript'>

        var myApp = angular.module('myApp', []);
        var myAppList = ['Music', 'Stocks', 'Mail'];




        function MyAppCtrl($scope) {

            $scope.list = myAppList;
            $scope.add = function (x) {

                sessionStorage.setItem("test", String(x));
                window.location.href = "index.html";

            }
        }
    </script>
</body>
</html>
